:root {
  --bg_colour: white;
  --title_colour: #2f2f33;
  --bookmarklet_colour: orange;
  --bookmarklet_shadow: #976100;
  --bookmarklet_version_colour: gray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg_colour: #2f2f33;
    --title_colour: white;
  }
}

html {
  background-color: var(--bg_colour);
}

h1 {
  text-align: center;
  color: var(--title_colour);
  margin: 50px 0;
}

.bookmarklet {
  background-color: var(--bookmarklet_colour);
  margin: 10px 5px;
  padding: 10px 20px 10px 40px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  display: inline-block;
  cursor: grab;
  box-shadow: 5px 5px var(--bookmarklet_shadow);
}

.bookmarklet:active {
  cursor: grabbing;
}

.bookmarklet_version {
  display: inline-block;
  font-size: 10px;
  background: var(--bookmarklet_version_colour);
  padding: 2px 8px;
  border-radius: 10px;
  margin-left: 5px;
}