:root {
  --bg_colour: white;
  --text_colour: #2f2f33;
  --bookmarklet_colour: orange;
  --bookmarklet_shadow: #976100;
  --bookmarklet_version_colour: gray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg_colour: #2f2f33;
    --text_colour: white;
  }
}

html {
  background-color: var(--bg_colour);
  color: var(--text_colour);
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Times;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

.bookmarklet {
  background-color: var(--bookmarklet_colour);
  margin: 10px 5px;
  padding: 10px 20px 10px 40px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  display: inline-block;
  cursor: grab;
  box-shadow: 5px 5px var(--bookmarklet_shadow);
  position: relative;
}

.bookmarklet:active {
  cursor: grabbing;
}

.bookmarklet_version {
  display: inline-block;
  font-size: 10px;
  background: var(--bookmarklet_version_colour);
  padding: 2px 8px;
  border-radius: 10px;
  margin-left: 5px;
}

.bookmarklet_docs {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  fill: var(--text_colour);
}